<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hopper Configuration</title>
    <link rel="stylesheet" type="text/css" href="./css/page.css" />
    <script src="./js/tabs.js"></script>
    <!-- <script src="./js/srcFix.js"></script> -->
    <script src="./js/search.js"></script>
    <script src="./js/outputSelector.js"></script>
</head>

<body oncontextmenu="return false; ">
    <div style="margin:auto; text-align: center;display:table;">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'HopperInput')" id="defaultOpen">Hopper Input</button>
            <button class="tablinks" onclick="openTab(event, 'HopperAdvanced')">Advanced Settings</button>
        </div>


        <form method="POST" th:action="${postAction}">
            <input type="hidden" th:value="${userCode}" name="userCode" />
            <input type="hidden" th:value="${frameID}" name="frameID" />
            <input type="hidden" th:value="${bookValue}" name="bookValue" />

            <div id="HopperInput" class="tabcontent">
                <h2>Select all the items the hopper will accept</h2>
                <input type="text" id="searchInput" onkeyup="itemFilter()" placeholder="Search for items..">
                <ul id="searchUL" class="searchUL">
                    <li th:each="item : ${attributes.items}" th:object="${item}" th:if="${item.name} != 'air'">
                        <div style="cursor: pointer;" th:class="${#lists.contains(checkItems.items, item.name)}? ' active'" th:onclick="|changeInput(event,'${item.name}')|">
                            <input type="checkbox" th:id="|I${item.name}|" style="display: none" th:checked="${#lists.contains(checkItems.items, item.name)}" th:name="|input_${item.name}|" th:value="${item.name}" />
                            <img th:id="|IM${item.name}|" th:src="|images/block/${item.name}.png|">
                            <span th:text="${item.displayName}"></span>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="HopperAdvanced" class="tabcontent">
                <div class="content">
                    <div style=" display: table-cell;">
                        <ul class="searchUL">
                            <li>
                                <div style="cursor: pointer;" class="tooltip" th:classappend="${checkItems.strictMode}? 'active'" th:onclick="|changeInput(event,'strict_mode')|">
                                    <input type="checkbox" id="Istrict_mode" style="display: none" th:checked="${checkItems.strictMode} ? 'true'" name="strict_mode" value="strict_mode" />
                                    <span th:text="|Strict Mode|"></span>
                                    <span class="tooltiptext">When enabled, will even prevent the hopper pickup items that don't belong in it, instead of just relying on container to container action.</span>
                                </div>
                            </li>
                            <li>
                                <div style="cursor: pointer;" class="tooltip" th:classappend="${checkItems.preventOverflow}? 'active'" th:onclick="|changeInput(event,'prevent_overflow')|">
                                    <input type="checkbox" id="Iprevent_overflow" style="display: none" th:checked="${checkItems.preventOverflow} ?'true'" name="prevent_overflow" value="prevent_overflow" />
                                    <span th:text="|Prevent Overflow|"></span>
                                    <span class="tooltiptext">When enabled, will prevent the hopper from accepting items when the next inventory in the system is full.</span>
                                </div>
                            </li>
                            <li>
                                <div style="cursor: pointer;" class="tooltip" th:classappend="${checkItems.linkedBelow}? 'active'"
                                    th:onclick="|changeInput(event,'linked_below')|">
                                    <input type="checkbox" id="Ilinked_below" style="display: none" th:checked="${checkItems.linkedBelow} ?'true'"
                                        name="linked_below" value="linked_below" />
                                    <span th:text="|Linked Below|"></span>
                                    <span class="tooltiptext">When enabled, will link with the itemsorter hopper below for smarter sorting.</span>
                                </div>
                                </li>
                                <li>
                                <div style="cursor: pointer;" class="tooltip" th:classappend="${checkItems.ratio}? 'active'">
                                    <input type="checkbox" id="Ijunction_ratio" style="display: none" th:checked="${checkItems.ratio} ?'true'" name="junction_ratio" value="junction_ratio" />
                                    <span th:text="|Junction Ratio|"></span>
                                    <input class="ratio" id="firstRatio" type="number" name="firstRatio" th:value="${checkItems.ratio}? ${checkItems.ratio.first}:'0'" th:onchange="|changeInputKey(event, 'firstRatio')|" />
                                    <span th:text="| To | "></span>
                                    <input class="ratio" id="secondRatio" type="number" name="secondRatio" th:value="${checkItems.ratio}? ${checkItems.ratio.second}:'0'" th:onchange="|changeInputKey(event, 'secondRatio')|" />
                                    <span class=" tooltiptext ">When enabled, will try and follow the ratio set for item moving.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="side">
                        <ul class="searchUL">
                            <li>
                                <div class="tooltip" th:classappend="${#lists.size(checkItems.enchantments)} > 0? 'active'">
                                    <input type="checkbox" id="Ienchantment_blocker" style="display: none" th:checked="${#lists.size(checkItems.enchantments)} > 0 ? 'true'" name="enchantment_blocker" value="enchantment_blocker" />
                                    <span th:text="|Enchantments allowed|"></span>
                                    <p th:each="enchantment : ${attributes.enchantments}" th:object="${enchantment}">
                                        <input th:id="|I${enchantment.name}|" type="checkbox" th:value="${enchantment.name}" th:name="|enchantment_${enchantment.name}|" th:onclick="|changeInputButton(events, ${enchantment.name})| " />
                                        <label th:text="${enchantment.displayName} " th:for="|I${enchantment.name}| "></label>
                                    </p>
                                    <span class=" tooltiptext ">When enabled, will block books that have not the selected enchantments.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="side">
                        <ul class="searchUL">
                            <li>
                                <div class="tooltip" th:classappend="${#lists.size(checkItems.potions)} >0? 'active'">
                                    <input type="checkbox" id="Ipotion_blocker" style="display: none" th:checked="${#lists.size(checkItems.potions)} > 0? 'true'" name="potion_blocker" value="potion_blocker" />
                                    <span th:text="|Potions allowed|"></span>
                                    <p th:each="potion : ${attributes.potions}" th:object="${potion}">
                                        <input th:id="|I${potion.name}|" type="checkbox" th:value="${potion.name}" th:name="|potion_${potion.name}|" th:onclick="|changeInputButton(events, ${potion.name})| " />
                                        <label th:text="${potion.displayName} " th:for="|I${potion.name}| "></label>
                                    </p>
                                    <span class=" tooltiptext ">When enabled, will block potions that have not the selected potions.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <button class="submitButton ">Submit Config</button>
        </form>
    </div>

    <script type="text/javascript ">
        // Get the element with id=" defaultOpen " and click on it
        document.getElementById('defaultOpen').click();
        //fixImgSrc();
    </script>
</body>
</html>