<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hopper Configuration</title>
    <link rel="stylesheet" type="text/css" href="./css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="./css/page.css" />
    <link rel="stylesheet" type="text/css" href="./css/options.css" />
    <script src="./js/tabs.js"></script>
    <script src="./js/srcFix.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/outputSelector.js"></script>
</head>

<body oncontextmenu="return false; ">
    <div style="width: auto; margin:auto; text-align: center;display:table; max-width: 70%; ">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'HopperInput')" id="defaultOpen">Hopper Input</button>
            <button class="tablinks" onclick="openTab(event, 'HopperOutput');loadItems();">Hopper Output</button>
        </div>


        <form method="POST" th:action="${postAction}">
            <div id="HopperInput" class="tabcontent">
                <input type="hidden" th:value="${userCode}" name="userCode" />
                <input type="hidden" th:value="${frameID}" name="frameID" />
                <input type="hidden" th:value="${bookValue}" name="bookValue" />
                <h2>Select all the items the hopper will accept</h2>
                <input type="text" id="searchInput" onkeyup="itemFilter()" placeholder="Search for items..">
                <ul id="searchUL" class="searchUL">
                    <li th:each="item : ${items}" th:object="${item}" th:if="${item.name} != 'air'">
                        <div style="cursor: pointer;" th:class="${#lists.contains(checkItems, item.displayName)}? ' active'" th:onclick="|changeInput(event,'${item.name}')|">
                            <input type="checkbox" th:id="|I${item.name}|" style="display: none" th:checked="${#lists.contains(checkItems, item.displayName)}" th:name="|input_${item.name}|" th:value="${item.name}" />
                            <img th:id="|IM${item.name}|" th:src="|images/block/${item.name}.png|">
                            <span th:text="${item.displayName}"></span>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="HopperOutput" class="tabcontent">
                <h2>Configure how the hopper will output the items.</h2>
                <div id="editor">
                    <div style=" display: inline-block; width: 720px; height: 480px;  text-align: center; vertical-align:top; margin-top: 15px;">
                        <ul class="searchUL">
                            <li th:each="container : ${containers}" th:object="${container}">
                                <div id="editorDiv">
                                    <p th:text="${container.name}"></p>
                                    <canvas th:style="|background-image: url(${container.src}); background-repeat: no-repeat; background-size: contain|"></canvas>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="side">

                        <div id='items'>
                            <table id='select'>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <button class="submitButton ">Submit Config</button>
        </form>
    </div>

    <script type="text/javascript ">
        function changeInput(evt, id) {
            if (document.getElementById('I' + id).getAttribute('checked') === 'false' || document.getElementById('I' + id).getAttribute('checked') === null) {
                document.getElementById('I' + id).setAttribute('checked', 'true');
                evt.currentTarget.className += " active ";
                sprites.push(id);
            } else {
                document.getElementById('I' + id).removeAttribute('checked');
                evt.currentTarget.className = evt.currentTarget.className.replace('active', " ");
                sprites = sprites.filter(e => e !== id);
            }
            document
        }

        // Get the element with id=" defaultOpen " and click on it
        document.getElementById('defaultOpen').click();
        fixImgSrc();
    </script>
    <script>
    </script>
</body>

</html>