#searchInput {
    background-image: url('searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    font-family: "minecraftfont";
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 20px;
    /* Add some space below the input */
}

.searchUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    height: 70vh;
    overflow-y: scroll
}

.searchUL li {
    display: inline-block;
    margin: 2.5px;
}

.searchUL li div {
    margin-top: -1px;
    background-image: url("../images/sign.png");
    background-size: contain;
    padding: 12px;
}

.filterSelected {
    background-image: url("../images/sign.png");
    background-size: contain;
    padding: 12px;
}
.searchUL li div img {
    width: 32px;
}

.searchUL li div span {
    vertical-align: super;
    text-decoration: none;
    font-size: 18px;
    color: black;
    overflow-wrap: normal;
}

.searchUL li div.active {
    background-image: url("../images/selected_sign.png");
}

#searchUL li div:hover:not(.header) {
    background-image: url("../images/hover_sign.png");
}