@font-face {
    font-family: "minecraftfont";
    src: url("../fonts/minecraftfont.eot") format("eot"), url("../fonts/minecraftfont.woff") format("woff"), url("../fonts/minecraftfont.ttf") format("truetype");
}

body {
    font-family: "minecraftfont";
    background-image: url("../images/background.png");
}

h2 {
    color: white;
}

.submitButton {
    width: 100%;
    background-image: url("../images/sign.png");
    padding: 14px 16px;
    font-size: 25px;
    font-family: "minecraftfont";
}