 /* Style the tab */
 
 .tab {
     overflow: hidden;
     border: 1px solid #ccc;
     display: table-caption
 }
 /* Style the buttons that are used to open the tab content */
 
 .tab button {
     background-image: url("../images/sign.png");
     background-size: contain;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     transition: 0.3s;
     font-family: "minecraftfont";
     border: 1px solid white;
     border-top: none;
     border-bottom: none;
     font-size: 20px;
 }
 /* Change background color of buttons on hover */
 
 .tab button:hover {
     background-image: url("../images/hover_sign.png");
 }
 /* Create an active/current tablink class */
 
 .tab button.active {
     background-image: url("../images/selected_sign.png");
 }
 /* Style the tab content */
 
 .tabcontent {
     display: none;
     padding: 6px 12px;
     border: 1px solid #ccc;
     border-top: none;
     width: 70vw;
     height: 70vh;
 }
 
 .tabcontent {
     animation: fadeEffect 1s;
     /* Fading effect takes 1 second */
 }
 /* Go from zero to full opacity */
 
 @keyframes fadeEffect {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }